<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Bienvenidos al Sistema de Administracion de Item</title>
</head>

<body >
  <div id="getting_started">
    <h3>Bienvenido al sistema de administracion de item</h3>
        
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Este es el inicio de pagina. 
  </div>
</body>
</html>
