<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema de Administracion de Item</title>
</head>

<body >
  <div id="getting_started">
    <h2>Mantenimiento de usuario</h2>
    <p><a href="${tg.url('/agregar_usuario')}">Agregar Usuario</a></p>
    <p><a href="${tg.url('/listar_usuario')}">Listar Usuario</a></p>
    <p><a href="${tg.url('/editar_usuario')}">Modificar Usuario</a></p>
    <p><a href="${tg.url('/cambiar_password')}">Cambiar Password</a></p>
    
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Estas en el menu de Usuario. 
  </div>
</body>
</html>
