<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Bienvenidos al Sistema de Administracion de Item</title>
</head>

<body>
  <div py:choose="len(usuarios)" py:strip="True" id="usuario">
    <table class="usuarios" py:when="0">
      <tr><th>No hay usuarios registrados..</th><th>
    </table>
    <table class="usuarios" py:otherwise="">    
      <h2>Lista de Usuarios</h2>
      <tr>
        <th>Id</th>
        <th>Alias</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rol</th>
        <th>Nacionalidad</th>
        <th>Nro.Documento</th>
        <th>Email</th>
      </tr>
      <tr>
        
      </tr>          
    </table>   
    <ul id="mainmenu">
    	<li class="first"><a href="${tg.url('/listar_usuario')}" class="${('', 'active')[defined('pagina') and pagina==pagina=='listar_usuario']}">Usuario</a></li>
  </ul>  
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Lista las personas registradas en el sistema. 
  </div>
</body>
</html>
